*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(img/background-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 40px;
    color: white;
    margin-top: 250px;
}
p{
    font-size: 17px;
    color: white;
}
h3{
    font-size: 25px;
    color: white;
}
.glyphicon-pencil{
    font-size: 35px;
    color: white;
    float: right;
    margin-top: 20px;
}
.col-md-5{
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px black;
    background: rgba(0, 0, 0, 0.4);
}
.label{
    font-weight: normal;
    margin-top: 15px;
    color: white;
    font-size: 19px;
}
.form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-top: 15px;
    height: 40px;
    color: white;
}